*,
*::before,
*::after {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
  background-color: var(--bg);
  font-size: 18px;
}

img,
svg {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: var(--h1);
}

button {
  font-size: 14px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Colors */

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --gradient: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --gray1: hsl(0, 0%, 98%);
  --gray2: hsl(236, 33%, 92%);
  --gray3: hsl(233, 11%, 84%);
  --gray4: hsl(236, 9%, 61%);
  --gray5: hsl(235, 19%, 35%);

  --blue1: hsl(236, 33%, 92%);
  --blue2: hsl(234, 39%, 85%);
  --blue3: hsl(234, 11%, 52%);
  --blue4: hsl(233, 14%, 35%);
  --blue5: hsl(237, 14%, 26%);
  --blue6: hsl(235, 24%, 19%);
  --blue7: hsl(235, 21%, 11%);
}

/* Themes */

.light-theme {
  --bg: var(--gray2);
  --h1: var(--gray1);
  --list-bg: var(--gray1);
  --list-text: var(--gray5);
  --list-border: var(--gray2);
  --icon-check: var(--gray3);
  --button-text: var(--gray4);
  --drag-text: var(--gray4);
}

.dark-theme {
  --bg: var(--blue7);
  --h1: var(--blue1);
  --list-bg: var(--blue6);
  --list-text: var(--blue2);
  --list-border: var(--blue4);
  --icon-check: var(--blue4);
  --button-text: var(--blue3);
  --drag-text: var(--blue3);
}

/* Background Images */

.image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18.75rem;
}

.light {
  background-image: url('images/bg-desktop-light.jpg');
}

.dark {
  background-image: url('images/bg-desktop-dark.jpg');
}

/* Containers */

.main {
  position: relative;
  bottom: 120px;
}

.container {
  width: 95%;
  max-width: 600px;
  margin: auto;
}

.hero {
  padding-top: 130px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Input & list styling */

.input {
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.list {
  border-bottom: 1px solid var(--list-border);
  background-color: var(--list-bg);
  color: var(--list-text);
  padding: 0.8rem;
}

.margin-right {
  padding: 0 0.5rem;
  margin-right: auto;
}

.list-item:first-child {
  border-radius: 5px 5px 0 0;
}

/* 
Components 
*/

/* Dragging */

.dragging {
  cursor: move;
  opacity: 0.5;
}

/* Icons */

.icon {
  margin: 0 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.icon-check {
  border-radius: 50%;
  border: 1px solid var(--icon-check);
}

/* Actives */

.icon-check.active {
  background: var(--gradient);
}

.icon-cross:hover {
  transform: scale(1.2);
}

.margin-right.active {
  text-decoration: line-through;
}

/* Buttons */

.btn-style {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

.btn {
  cursor: pointer;
  border: none;
  background: var(--list-bg);
  color: var(--button-text);
}

.btn-active,
.btn-completed {
  text-decoration: line-through;
}

.light-theme .btn:hover {
  color: var(--bright-blue);
}

.dark-theme .btn:hover {
  color: var(--gray2);
}

/* Last paragraph style */

.drag-and-drop {
  margin-top: 50px;
  font-size: 15px;
  text-align: center;
  color: var(--drag-text);
}

/* Media queries */

@media (width < 500px) {
  .dark {
    background-image: url('images/bg-mobile-dark.jpg');
  }

  .light {
    background-image: url('images/bg-mobile-light.jpg');
  }

  .list-item {
    padding: 0.5rem;
  }

  .btn-active,
  .btn-completed {
    display: none;
  }
}
